.category {
  background-color: #dfdcdc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  min-width: 250px;
  min-height: 500px;
}

.category:nth-child(1) h2 {
  margin-bottom: 15px;
  color: #8e2727;
  border-bottom: 2px solid #8e2727;
}

.category:nth-child(1) textarea {
  border-bottom: 2px solid #8e2727;
}

.category:nth-child(2) h2 {
  margin-bottom: 15px;
  color: #4941a6;
  border-bottom: 2px solid #4941a6;
}

.category:nth-child(2) textarea {
  border-bottom: 2px solid #4941a6;
}

.category:nth-child(3) h2 {
  margin-bottom: 15px;
  color: #aec22e;
  border-bottom: 2px solid #aec22e;
}

.category:nth-child(3) textarea {
  border-bottom: 2px solid #aec22e;
}

.category:nth-child(4) h2 {
  margin-bottom: 15px;
  color: #38ab3e;
  border-bottom: 2px solid #38ab3e;
}

.category:nth-child(4) textarea {
  border-bottom: 2px solid #38ab3e;
}