* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 10px;
  color: #333;
}
body {
  background-color: #f5f5f5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.app {
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.categories{
  display: flex;
  gap: 20px;
  
}


Button {
  padding:  7px;
}

.category {
  background-color: #dfdcdc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  min-width: 250px;
}

.category:nth-child(1) h2 {
  margin-bottom: 15px;
  color: #8e2727;
  border-bottom: 2px solid #8e2727;
}

.card {
  padding: 10px;
}


.category:nth-child(1) textarea {
  border-bottom: 2px solid #8e2727;
}

.category:nth-child(2) h2 {
  margin-bottom: 15px;
  color: #4941a6;
  border-bottom: 2px solid #4941a6;
}

.category:nth-child(2) textarea {
  border-bottom: 2px solid #4941a6;
}

.category:nth-child(3) h2 {
  margin-bottom: 15px;
  color: #aec22e;
  border-bottom: 2px solid #aec22e;
}

.category:nth-child(3) textarea {
  border-bottom: 2px solid #aec22e;
}

.category:nth-child(4) h2 {
  margin-bottom: 15px;
  color: #38ab3e;
  border-bottom: 2px solid #38ab3e;
}

.category:nth-child(4) textarea {
  border-bottom: 2px solid #38ab3e;
}
